body {
  background-color: var(--background);
}


.list.mp {
  display: flex;
  width: fit-content;
  margin: 32px auto;
  list-style-type: none;
  background-color: var(--white);
}

.list {
  display: flex;
  width: fit-content;
  margin: 32px auto;
  list-style-type: none;
  background-color: var(--white);
}

.list-link {
  background-color: var(--white);
  color: var(--background);
  padding: 1em;
  text-decoration: none;
  line-height: 1em;
  margin-left: 20px;
  border-radius: .5em;
}