@import url(./mainpage.css);
@import url(./hamburgerpage.css);
@import url(./lasagnapage.css);
@import url(./pizzapage.css);

:root {
  --white: #FFFFFF;
  --background: #1d1d1d;
  --title-font:'Times New Roman', sans-serif;
  --text-font: sans-serif;
  --text-color: #FFFFFFF0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title,
.h1-title {
  font-family: var(--title-font);
  font-weight: 700;
  letter-spacing: -1px;
  font-size: 4em;
  line-height: 2em;
  color: var(--white);
}

.title {
  width: 340px;
  margin: 0 auto;
}

.h1-title {
  font-weight: 700;
  font-size: 3em;
  line-height: 3em;
  color: var(--white);
  font-family: var(--title-font);
  margin: 0 auto;
  width: fit-content;
}

.container {
  display: flex;
  width: 50%;
  margin: 0 auto;
}

.container div {
  padding: 1em;
}

div .h2-title {
  margin: 0;
}

.image {
  width: 282px;
  height: auto;
}

.h2-title {
  font-size: 2em;
  margin: 1em auto;
  width: fit-content;
  color: var(--white);
  font-family: var(--title-font);
  line-height: 2em;
}

.text {
  font-size: 1em;
  color: var(--text-color);
  font-family: var(--text-font);
  line-height: 1.5em;
}

.list {
  color: white;
  padding: 1em;
  border-radius: .5em;
  margin: 0 2em;
}

.link {
  font-weight: bold;
  line-height: 5em;
  margin-left: 2em;
  text-decoration: none;
  color: var(--white);
}

.list li {
  color: #1d1d1d;
  margin: 1em;
}